body{
  background-color: #17181f;
  color: #aaa;
}
*{
  box-sizing: border-box;
}
main{
  max-width: 300px;
  margin: 20px auto;
}
form{
  border: 3px solid #30312D ;
  border-radius: 10px;
  padding: 5px;
  display: flex;
}
form input[type="text"]{
  background: none;
  border: 0;
  display: block;
  width: 100%;
}
form button{
  background-color: #61DAFB;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
div.task{
  background-color: #30313D;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;

}
div.task svg{
  height: 20px;
  margin-right: 4px;

}